* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #1f2531;
  color: #c2d0dd;
}

.container {
  background: #313a49;
  width: 60%;
  height: 45%;
  border-radius: 25px;
  padding: 50px;
  text-align: center;
  .id-advice {
    .id {
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #64d7a6;
    }
    .id::before {
      content: "ADVICE #";
      margin-right: 5px;
    }

    div {
      margin-top: 15px;
      height: 60px;
      p {
        font-size: calc(28px + 6 * ((100vw - 320px) / 680));
      }
      ::before {
        content: '"';
      }
      ::after {
        content: '"';
      }
    }
  }

  .divider-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .pattern-divider {
      position: relative;
      width: 100%;
      top: 120px;
      height: 80px;
      color: white;
    }
    button {
      cursor: pointer;
      width: 60px;
      height: 60px;
      border-radius: 50px;
      border: none;
      background: #54feab;
      position: relative;
      bottom: -165px;
      .dice {
        width: 28px;
        height: 28px;
        background: white;
      }
    }
  }
}
